/** 
* Description: Sample theme for site which extends the Lydia grid-theme.
*/
@import url(../../../themes/grid/style.css);

html{background-color:#ddd;}
body{background-color:#bed;}
#outer-wrap-header{background-color:#fff;border-bottom:2px solid #000}
#outer-wrap-footer{background-color:#ddd}
a{color:#463}